/*加载的遮罩层*/
body {
    overflow: hidden
}

#load {
    width: 100%;
    position: absolute;
    z-index: 999999;
    height: 100%;
    background-color: black;
    opacity: .8;
    text-align: center;
}

#load img {
    display: inline-block;
    width: 40%;
    height: 40%;
    margin-top: 150px;
}

/*head部分*/
.head {
    background: #f4483e;
    color: #FFFFFF;
    height: 50px;
    width: 100%;
    position: relative;
}

.head .back {
    width: 50px;
    text-align: center;
}

.head .back .icon-back {
    background: url("../images/icon-back.png") no-repeat center;
    background-size: 25px;
    width: 100%;
    height: 50px;
    display: block;
}

.head h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin: 0 50px;
}

.head .home {
    width: 50px;
    text-align: center;
}

.head .home .icon-app {
    background: url("../images/icon-app.png") no-repeat center;
    background-size: 25px;
    width: 100%;
    height: 50px;
    display: block;
}

/*nav部分*/
.nav {
    height: 38px;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    position: relative;
}

.nav ul {
    width: 794px;
}

.nav li {
    float: left;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
}

.nav li a {
    color: #333333;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0 12px;
    width: auto;
    box-sizing: content-box;
}

.active {
    color: #e4393c;
    border-bottom: 2px solid #e4393c;
}

.nav .icon-search {
    background: url("../images/icon-search.png") no-repeat center;
    width: 38px;
    height: 38px;
    background-color: #fff;
    background-size: 28px;
    position: absolute;
    right: 0;
    z-index: 999;
}

/*loading*/
#loading {
    text-align: center;
    display: none;
}

#loading a {
    display: inline-block;
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: #fff;
}

/*list部分*/
.list {
    max-width: 960px;
}

.list li {
    margin: 6px auto;
    background-color: #ffffff;
    position: relative;
    padding: 10px 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.list .pic {
    float: left;
    width: 135px;
    height: 130px;
}

.list .pic img {
    width: 130px;
    height: 130px;

}

.list .info .i {
    height: auto;
}

.list .info .i .t {
    min-height: 28px;
    max-height: 40px;
    line-height: 1.5;
    font-weight: 400;
    text-align-last: left;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}

.list .info .i .pr {
    font-size: 24px;
    color: #fc353a;
    margin-top: 4px;
    position: relative;
    width: 100%;
    height: auto;
    overflow: visible;
}

.list .info .i .pr em {
    font-size: 12px;
    vertical-align: middle;
    font-style: normal;
}

.list .info .i .pr del {
    text-decoration: line-through;
    font-size: 13px;
    color: #a8a8a8;
    margin-left: 12px;
    vertical-align: middle;
}

.list .info .o {
    position: absolute;
    bottom: 10px;
    padding: 0px 5px 0px 135px;
    box-sizing: border-box;
    width: 100%;
}

.list .info .o .bar {
    height: 25px;
    overflow: hidden
}

.list .info .o .bar i {
    position: relative;
    box-sizing: border-box;
    width: 82px;
    height: 14px;
    border: 1px solid #fc353a;
    border-radius: 6px;
    color: #fff;
    font-weight: 900;
    background: #ffb7b7;
    text-align: center;
    overflow: hidden;
    display: inline-block;
}

.list .info .o .bar i em {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background: #fc353a;
    display: block;
    transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.list .info .o .bar b {
    font-weight: normal;
    font-size: 12px;
    color: #999999;
    vertical-align: 3px;
    margin-left: 10px;
    color: #fc353a;
}

.list li .info .o .b .q {
    float: left;
}

.list ul li .info .o .b .q a {
    border: 1px dotted #e4393c;
    height: 26px;
    line-height: 26px;
    text-align: center;
    display: block;
    padding: 0px 5px;
    font-size: 12px;
    color: #e4393c;
    position: relative;
    z-index: 1;
}

.list ul li .info .o .b .g {
    float: right;
    margin-right: 5px;
}

.list ul li .info .o .b .g a {
    height: 28px;
    line-height: 28px;
    text-align: center;
    display: block;
    background-color: #ff5e5d;
    color: #ffffff;
    border-radius: 4px;
    padding: 0px 5px;
    font-size: 12px;
    position: relative;
    z-index: 1;
}

a.gotop {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 8px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    height: 40px;
    border-radius: 20px;
    opacity: 0.5;
    background-color: greenyellow;
    background-image: url("../images/back.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px auto;
    display: none;
}

/*foot部分*/
.foot_t {
    background: #efefef;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    height: 34px;
    line-height: 34px;
    margin-top: 25px;
    clear: both;
}

.foot_t a {
    float: left;
    font-size: 14px;
    border-right: 1px solid #c4c4c4;
    text-align: center;
    width: 30%;
    color: #000;
}

.foot_t a img {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}

.foot_b {
    background: #efefef;
    text-align: center;
    font-size: 12px;
    padding: 15px 0;
    color: #666;
}

#app {
    color: red;
}

#phone {
    color: black;
}
