.ManManBuy {
  width: 100%;
  min-width: 300px;
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.toggleDown {
  height: 8.15rem;
  overflow: hidden;
}
.weui-pull-to-refresh-layer {
  font-size: 0.8rem;
}
.ManManBuy > header {
  width: 100%;
  min-width: 300px;
  max-width: 640px;
  height: 2.5rem;
  background: #ff841d;
  border-bottom: 1px solid #e6e6e6;
}
.header-logo {
  padding: 0.6rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.header-logo > a img {
  width: 9.25rem;
  height: 1.25rem;
}
.header-down {
  padding: 0.35rem;
}
.header-down > a > img {
  width: 1.7rem;
  height: 1.7rem;
}
#slide {
  width: 100%;
}
.search {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #E6E6E6;
  padding-top: 0.45rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.search form {
  width: 100%;
  padding: 0rem 0.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 0.5rem;
  position: relative;
}
.search form img {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  top: 0.4rem;
  right: 4.15rem;
  display: none;
}
.search form input {
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  background: #F1F1F1;
  border-radius: 0.9rem;
  padding: 0.25rem 0;
  padding-left: 0.75rem;
  outline: none;
}
.search form .search-btn {
  position: absolute;
  top: 0px;
  right: 0.55rem;
  width: 3.15rem;
  height: 1.5rem;
  line-height: 1.5rem;
  color: #fff;
  background: #ff841d;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  font-size: 0.8rem;
}
.search form .searchBox {
  width: 100%;
  padding: 0 0.5rem;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 100;
}
.search form .searchBox .searchContent {
  width: 100%;
  background: #F9FAD2;
  border-radius: 0.5rem;
}
.search form .searchBox .searchContent ul li {
  padding: 0.1rem 0.8rem;
  border-sizing: border-box;
  -webkit-border-sizing: border-box;
  font-size: 0.7rem;
}
.content-list .panel-default {
  border: none;
  border-bottom: 1px solid #ccc;
}
.content-list .panel-title a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.content-list .panel-title a span {
  color: #333;
}
.content-list .auto-slide {
  padding: 0;
}
.content-list .auto-slide #row div {
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}
.member {
  margin-top: 0.5rem;
}
.member > table {
  border: none;
  margin: 0;
  background: #EFEFEF;
}
.member > table tr td {
  text-align: center;
  font-size: 14px;
  padding: 0!important;
}
.member > table tr td a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  color: #5a5a5a;
}
.member > table tr .login {
  border-left: none;
}
.member > table tr .back {
  border-right: none;
}
footer {
  text-align: center;
  padding: 1rem 0;
  background: #EFEFEF;
}
.app-down {
  width: 3rem;
  height: 3.35rem;
  position: absolute;
  bottom: 1.5rem;
  right: 0px;
}
